#Radiant_Charge {
	align:  center top;
	margin-right: 320px;
	margin-top:  65px;
	width: 250px;
	flow-children: none;
}

#Dire_Charge {
	align:  center top;
	margin-left: 320px;
	margin-top:  65px;
	width: 250px;
	flow-children: none;
}

#Radiant_Progress {
	border-radius: 8px;
}

#Radiant_Progress .ProgressBarLeft {
	background-color: blue;
}

#Radiant_Progress .ProgressBarRight {
	background-color: black;
}

#Dire_Progress {
	border-radius: 8px;
}

#Dire_Progress .ProgressBarLeft {
	background-color: red;
}

#Dire_Progress .ProgressBarRight {
	background-color: black;
}

.Charge_Label {
	padding: 6px;
	text-align:  center center;
	font-size:  28;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
}

#Message_Container {
	align:  center top;
	margin-top:  160px;
	flow-children:  down;
}

.GlobalMessage {
	align:  center top;
	text-align:  center center;
	margin-top:  6px;
	margin-bottom: 6px;
	width:  900px;
	font-size:  32;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
	transition-property: position, transform;
	transition-duration: 0.5s;
}

.AnimatedMessage {
	animation-name: Emphasis;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'Emphasis' {
	0% { transform: scale3d(1.0, 1.0, 1.0); }
	17% { transform: scale3d(1.1, 1.1, 1.0); }
	33% { transform: scale3d(1.0, 1.0, 1.0); }
	50% { transform: scale3d(1.1, 1.1, 1.0); }
	67% { transform: scale3d(1.0, 1.0, 1.0); }
	83% { transform: scale3d(1.1, 1.1, 1.0); }
	100% { transform: scale3d(1.0, 1.0, 1.0); }
}