#Scoreboard {
	align:  center top;
	margin-top:  10px;
	flow-children:  right;
}

#Boss_Health_Container {
	align:  center top;
	margin-top:  30px;
	flow-children:  down;
	visibility: collapse;
}

#Boss_Name {
	margin-bottom: 4px;
	align: center center;
	text-align:  center center;
	font-size:  28;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2.0 black;
}

#Boss_Health_Label {
	margin-bottom: 10px;
	align: center center;
	text-align:  center center;
	font-size:  22;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2.0 black;
}

#Boss_Health {
	margin-left: 12px;
	margin-right: 12px;
	align: center center;
	height: 28px;
	width: 800px;
	text-align:  center center;
	font-size:  36;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
	border-radius: 10px;
	border: 4px solid black;
	background-color: black;
}	

#Boss_Health_Left {
	background-color: #40ff40;
	transition-duration: 0.5s;
	transition-property: width;
}

#Fight_Timer {
	margin-top: 6px;
	align: center center;
	text-align:  center center;
	font-size:  18;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 2px 2px 4px 2.0 black;
}

.ScoreContainers {
	width: 64px;
	padding: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border: 2px solid #111111FF;
}

#Blue_Container {
	background-color: #4040D0;
}

#Red_Container {
	background-color: #b04040;
}

#Green_Container {
	background-color: #40b040;
}

#Pink_Container {
	background-color: #b040b0;
}

#Yellow_Container {
	background-color: #e0e060;
}

#Cyan_Container {
	background-color: #40b0b0;
}

#Light_Gray_Container {
	background-color: #b0b0b0;
}

#Dark_Gray_Container {
	background-color: #404040;
}

#Mauve_Container {
	background-color: #905050;
}

#Plaid_Container {
	background-color: #909050;
}

.ScoreLabel {
	margin-left: 12px;
	margin-right: 12px;
	align: center center;
	text-align:  center center;
	font-size:  28;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
}

#Message_Container {
	align:  center top;
	margin-top:  160px;
	flow-children:  down;
}

.GlobalMessage {
	align:  center top;
	text-align:  center center;
	margin-top:  6px;
	margin-bottom: 6px;
	width:  900px;
	font-size:  32;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
	transition-property: position, transform;
	transition-duration: 0.5s;
}

.AnimatedMessage {
	animation-name: Emphasis;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'Emphasis' {
	0% { transform: scale3d(1.0, 1.0, 1.0); }
	17% { transform: scale3d(1.1, 1.1, 1.0); }
	33% { transform: scale3d(1.0, 1.0, 1.0); }
	50% { transform: scale3d(1.1, 1.1, 1.0); }
	67% { transform: scale3d(1.0, 1.0, 1.0); }
	83% { transform: scale3d(1.1, 1.1, 1.0); }
	100% { transform: scale3d(1.0, 1.0, 1.0); }
}