#Scoreboard {
	align:  center top;
	margin-top:  65px;
	flow-children:  right;
}

.ScoreContainers {
	padding: 4px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border: 2px solid #111111FF;
}

#Blue_Container {
	background-color: #4040b0;
}

#Red_Container {
	background-color: #b04040;
}

#Green_Container {
	background-color: #40b040;
}

#Pink_Container {
	background-color: #b040b0;
}

.ScoreLabel {
	margin-left: 12px;
	margin-right: 12px;
	text-align:  center center;
	font-size:  28;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
}

#Message_Container {
	align:  center top;
	margin-top:  160px;
	flow-children:  down;
}

.GlobalMessage {
	align:  center top;
	text-align:  center center;
	margin-top:  6px;
	margin-bottom: 6px;
	width:  900px;
	font-size:  32;
	font-weight:  bold;
	color:  white;
	text-overflow: shrink;
	text-shadow: 1px 1px 3px 2.0 black;
	transition-property: position, transform;
	transition-duration: 0.5s;
}

.AnimatedMessage {
	animation-name: Emphasis;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#Bossmap {
	align:  left top;
	margin-top:  120px;
	margin-left: 15px;
	flow-children:  none;
	background-color: #111111D0;
	border: 3px solid #111111FF;
}

.BossmapImages {
	width: 240px;
	height: 240px;
	saturation: 0.0;
	brightness: 0.3;
}

#bear_Background {
	background-image: url("file://{resources}/images/custom_game/bear.png");
}

#dragon_Background {
	background-image: url("file://{resources}/images/custom_game/dragon.png");
}

#lava_golem_Background {
	background-image: url("file://{resources}/images/custom_game/lava_golem.png");
}

#revenant_Background {
	background-image: url("file://{resources}/images/custom_game/revenant.png");
}

#scorpion_Background {
	background-image: url("file://{resources}/images/custom_game/scorpion.png");
}

#spider_Background {
	background-image: url("file://{resources}/images/custom_game/spider.png");
}

#temple_Background {
	background-image: url("file://{resources}/images/custom_game/temple.png");
}

#treant_Background {
	background-image: url("file://{resources}/images/custom_game/treant.png");
}

#bear_Portrait {
	background-image: url("file://{resources}/images/custom_game/bear_portrait.png");
	visibility: collapse;
}

#dragon_Portrait {
	background-image: url("file://{resources}/images/custom_game/dragon_portrait.png");
	visibility: collapse;
}

#lava_golem_Portrait {
	background-image: url("file://{resources}/images/custom_game/lava_golem_portrait.png");
	visibility: collapse;
}

#revenant_Portrait {
	background-image: url("file://{resources}/images/custom_game/revenant_portrait.png");
	visibility: collapse;
}

#scorpion_Portrait {
	background-image: url("file://{resources}/images/custom_game/scorpion_portrait.png");
	visibility: collapse;
}

#spider_Portrait {
	background-image: url("file://{resources}/images/custom_game/spider_portrait.png");
	visibility: collapse;
}

#temple_Portrait {
	background-image: url("file://{resources}/images/custom_game/temple_portrait.png");
	visibility: collapse;
}

#treant_Portrait {
	background-image: url("file://{resources}/images/custom_game/treant_portrait.png");
	visibility: collapse;
}

@keyframes 'Emphasis' {
	0% { transform: scale3d(1.0, 1.0, 1.0); }
	17% { transform: scale3d(1.1, 1.1, 1.0); }
	33% { transform: scale3d(1.0, 1.0, 1.0); }
	50% { transform: scale3d(1.1, 1.1, 1.0); }
	67% { transform: scale3d(1.0, 1.0, 1.0); }
	83% { transform: scale3d(1.1, 1.1, 1.0); }
	100% { transform: scale3d(1.0, 1.0, 1.0); }
}