#Container {
	align:  left top;
	padding:  10px;
	margin-top: 120px;
	flow-children:  down;
	background-color: #303030;
	visibility: collapse;
}

#Container:not(.dota_shop_open) {
	visibility: visible;
}

#SphereCount {
	align:  center top;
	text-align: center;
	font-size:  24px;
	font-weight:  bold;
	color:  gold;
	text-shadow: 2px 2px 2px 2.0 black;
}

.ChoiceColumn {
	margin-top:  10px;
	align:  center top;
	flow-children: down;
	visibility: collapse;
}

.Choice {
	width: 64px;
	height: 84px;
	flow-children: down;
}

.ChoiceIcon {
	height:  64px;
	width:  64px;
	flow-children:  down;
}

.ChoiceCost {
	margin-top:  -12px;
	align:  center top;
	text-align: center;
	font-size:  24px;
	font-weight:  bold;
	color:  gold;
	text-shadow: 2px 2px 8px 3.0 black;
}

.ChoiceHeader {
	align:  center top;
	text-align: center;
	font-size:  24px;
	color:  white;
}